#container_images_datos {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 550px;
  background: rgb(238, 234, 234);
}

#container_details_product {
  /* background: rgb(235, 231, 231); */
}
.container_images {
  width: 35%;
  height: 450px;
  /* border: 1px coral solid; */
}
.container_datos {
  width: 45%;
  height: 450px;
  /* border: 1px cornflowerblue solid; */
}
/* ************************ */
/*imagen carousel*/
#da {
  /* background: chartreuse; */
  display: flex;

  position: absolute;

  bottom: -90px;
}
#btn_image_carousel {
  height: 50px !important;
  width: 50px !important;
  opacity: 1;
  border: 1px black solid;
}
.image_carousel_small {
  width: 50px;
  height: 50px !important;
  opacity: 1 !important;
}
#image_carousel_small {
  /* border: 1px coral solid; */
  height: 50px;
}

#input_mim,
#input_max {
  background: rgb(219, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  /* border: 1px black solid; */
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by any browser but < IE9 */
}
.container_input_number {
  display: flex;
  border: 1px rgb(194, 193, 193) solid;
  width: 120px;
  padding: 5px;
  border-radius: 6px;
}
#input_number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  /* border: 1px black solid; */
  border-radius: 8px;

  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  #container_images_datos {
    /* border: 1px coral solid; */
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 0;
  }
  .detailsProductAmount {
    display: flex;
    align-items: center;
  }
  .container_images {
    width: 50%;
    height: 200px;
    /* border: 1px black solid; */
    /* border: 1px coral solid; */
  }
  .container_datos {
    margin-top: 170px;
    width: 100%;
    height: 450px;
    /* border: 1px chartreuse solid; */
    /* border: 1px cornflowerblue solid; */
  }
  .datos_details {
    /* border: 1px black solid; */
    padding: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container_images {
    width: 55%;
    height: 200px;
    /* border: 1px black solid; */
    /* border: 1px coral solid; */
  }
  .container_datos {
    margin-top: 200px;
    width: 100%;
    height: 450px;
    /* border: 1px chartreuse solid; */
    /* border: 1px cornflowerblue solid; */
  }
}
@media only screen and (max-width: 480px) {
  .container_images {
    margin-top: 20px;
    width: 70%;
    height: 200px;
    /* border: 1px black solid; */
    /* border: 1px coral solid; */
  }
}
@media only screen and (max-width: 320px) {
  .container_images {
    margin-top: -30px;
    margin-bottom: -100px;
    width: 80%;
    height: 200px;
    /* border: 1px black solid; */
    /* border: 1px coral solid; */
  }
  .container_datos {
  }
}
