.addCars {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.addCar_product {
  border: 1px chartreuse solid;
  width: 70%;

  justify-content: space-between;
}
.addCar_total {
  width: 25%;
  margin-left: 20px;
  background-color: #eeeeee;
}
.carBuyData {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
}
@media only screen and (max-width: 800px) {
  .addCars {
    flex-direction: column;
    align-items: center;
  }
  .addCar_product {
    width: 100%;
  }
  .addCar_total {
    width: 100%;
  }
  .carBuyData {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .addCars {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .addCar_product {
    width: 100%;
    padding: 0;
    font-size: 12px;
  }

  .addCar_total {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .addCars {
    flex-direction: column;
    align-items: center;
  }
  .addCar_product {
    width: 100%;
  }
  .addCar_total {
    width: 100%;
  }
}
