
    .box_Product {
        background: rgb(238, 234, 234);
        /* background: #F2F2F2; */
        width: 14rem;
        height: 27rem;
        border-radius: 0;
      }
      .btn_add_car {
        border: 1px solid rgb(19, 19, 19);
        border-radius: 20px;
        height: 40px;
      }
      .btn_buy_now {
        background: #49c7b8;
        border-radius: 20px;
        height: 40px;
        color: var(--Color_white);
      }
  
      .btn_add_car:hover {
        border: 1px solid #6bcfc3;
        height: 40px;
        background: #6bcfc3;
        color: white;
        transition: all 0.3s ease-in;
      }
      .box_Product:hover .img_box_product {
        transform: scale(1.2);
        transition: all 0.2s ease-in;
      }
      .box_Product:hover {
        box-shadow: 5px 5px 8px rgb(196, 191, 191),
          -5px -5px 8px rgb(202, 197, 197);
        border: 2px rgb(202, 198, 198) solid !important;
        transition: all 0.2s ease-in;
      }
      .image_product {
        border-radius: 5px;
        transform: scale(1);
      }
      .img_box_product {
        transform: scale(1);
        transition: all 0.2s ease-in;
      }
      #image_product figure {
        overflow: hidden;
      }